.bank {
  color: rgba(17, 52, 54, 1);
  color: rgba(19, 101, 106, 1);
  color: rgba(5, 144, 125, 1);
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: -moz-linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  background: -webkit-linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  background: linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#113436",endColorstr="#05907d",GradientType=1);
  min-height: 300vh;
  color: #f0f0f0;
  overflow: overlay;
  padding: 0 0 45px 0;
}

h1,
h2 {
  font-size: 4.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
}

h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

ul {
  color: #f0f0f0;
  border-radius: 0 10px 10px 0;
  height: 50%;
  width: 80%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

li {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #f0f0f0;
  margin: none;
  padding: none;
  letter-spacing: normal;
}

a:hover {
  cursor: pointer;
}

/* #region Nav */

nav {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  background: rgba(17, 17, 17, 0.938);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.705);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}

nav ul {
  z-index: 3;
}

nav li {
  width: 150px;
  height: 50px;
  text-align: center;
  font-weight: 750;
}

nav > a {
  display: flex;
  width: 110px;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  font-size: 2.6rem;
  transition: all 0.3s ease-in-out;
}

.nav-opened {
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}
.nav-closed {
  top: 0px;
  left: -615px;
  transition: all 0.5s ease-in-out;
  z-index: 3;
}

.ham-button-container {
  width: 25px;
  height: 16px;
  position: fixed;
  left: 25px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

.ham-button-container:hover {
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
}

.top-line-x {
  transform: rotate(45deg);
  top: 7.25px;
}

.mid-line-x {
  left: -400px;
}

.bot-line-x {
  transform: rotate(-45deg);
  top: -7.25px;
}

.top-line-x,
.mid-line-x,
.bot-line-x {
  position: relative;
  transition: transform 0.8s ease-in-out;
}

.d-letter,
.d-letter-flipped,
.c-letter {
  font-size: 8rem;
  font-weight: 650;
  position: relative;
}

.d-letter {
  left: 10px;
  transition: transform 1s ease-in-out;
}

.d-letter-flipped {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  transition: transform 1.25s ease-in-out;
  transition-delay: 0.5s;
  left: 10px;
}

.c-letter {
  right: 10px;
}

/* #endregion */

/* #region Home */

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home h1 {
  padding: 5.5rem 0 0 0;
}

.socials-container {
  height: 35%;
  width: 80%;
  max-width: 700px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.socials-container a {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 3rem;
}

.fontAweIcon {
  font-size: 3.8rem;
  transition: all 0.3s ease-in-out;
}

.fontAweIcon:hover {
  font-size: 5.8rem;
  transition: all 0.3s ease-in-out;
}

.spacer-line {
  height: 0.2rem;
  width: 55%;
  background: #f0f0f0;
  border-radius: 5px;
}
/* #endregion */

/* #region About Me */

.about-me {
  background: #f0f0f010;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px 45px;
}

.about-me p {
  width: 90%;
  max-width: 400px;
  margin: 35px 0;
}

.about-me-container-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stack {
  width: 80%;
  max-width: 250px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f010;
  padding: 15px;
  border-radius: 15px;
}

.stack-icon {
  font-size: 2.6rem;
  margin: 0 25px 0 0;
}

.stack-names {
  border-radius: 0;
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me li {
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

/* #endregion */

/* #region Work */

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  padding: 25px 0 0 0;
}

.work h3 {
  margin: 20px 0;
  transition: all 0.35s ease-in-out;
}

.work h3:hover .github-work-icon {
  font-size: 4rem;
  transition: all 0.35s ease-in-out;
}

.work-container {
  min-height: 700px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.each-work {
  width: 90%;
  max-width: 800px;
  min-height: 500px;
  background: #f0f0f010;
  margin: 25px 0 0 0;
  padding: 25px;
  border-radius: 15px;
}

.each-work h5 {
  font-size: 2rem;
  font-weight: 75;
  text-decoration: underline;
  width: 98%;
}

.each-work h6 {
  font-size: 2rem;
  font-weight: 75;
  margin: 35px 0 0 0;
}

.each-work p {
  font-size: 1.4rem;
  margin: 25px 0 0 0;
}

.fa-link-icon {
  margin: 0 15px 0 0;
}

.each-work img {
  width: 90%;
  max-width: 350px;
  margin: 45px 0 0 0;
  border-radius: 7.5px;
}

/* #endregion */

/* #region Scroll bar */

::-webkit-scrollbar {
  width: 1.6rem;
}

::-webkit-scrollbar-track {
  margin: 1rem;
  background: rgba(128, 128, 128, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.466);
  width: 1.6rem;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.178);
}
::-webkit-scrollbar-thumb:active {
  background: #000000a6;
}
/* #endregion */

@media screen and (min-width: 374px) {
  .about-me li {
    margin: 0 0 0 15px;
  }
}

@media screen and (min-width: 425px) {
  .stack-names {
    width: 80%;
  }

  .each-work {
    padding: 40px;
  }
}

@media screen and (min-width: 1023px) {
  body {
    margin: 0 0 0 400px;
  }

  .nav-closed,
  .nav-opened {
    left: 0;
    width: 400px;
  }
  .ham-button-container {
    display: none;
  }

  .fontAweIcon {
    font-size: 4.8rem;
  }

  .about-me p {
    font-size: 2rem;
  }

  .each-work p {
    font-size: 1.8rem;
  }

  .each-work h5 {
    font-size: 2.8rem;
  }

  .each-work h6 {
    font-size: 2.4rem;
  }

  .d-letter-flipped,
  .d-letter {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    transition: transform 1.5s ease-in-out;
    transition-delay: 0.65s;
    left: 10px;
  }
}

@media screen and (min-width: 1439px) {
  body {
    margin: 0 0 0 600px;
  }

  .nav-closed,
  .nav-opened {
    left: 0;
    width: 600px;
  }

  .fontAweIcon {
    font-size: 5.2rem;
  }

  .about-me {
    flex-direction: row;
  }

  .stack {
    height: 600px;
    max-width: 475px;
  }

  .stack-icon {
    font-size: 2.8rem;
  }

  .about-me li {
    font-size: 2.8rem;
  }
}
