.bank {
  color: rgba(17, 52, 54, 1);
  color: rgba(19, 101, 106, 1);
  color: rgba(5, 144, 125, 1);
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  background: rgb(17, 52, 54);
  scroll-behavior: smooth;
}

body {
  background: rgb(17, 52, 54);
  background: -moz-linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  background: -webkit-linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  background: linear-gradient(
    108deg,
    rgba(17, 52, 54, 1) 0%,
    rgba(19, 101, 106, 1) 50%,
    rgba(5, 144, 125, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#113436",endColorstr="#05907d",GradientType=1);
  height: 500vh;
  color: #f0f0f0;
}

h1,
h2 {
  font-size: 4.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h3,
h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
}

h5,
h6 {
  font-family: "Lato", sans-serif;
  font-size: 3.6rem;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

ul {
  color: #f0f0f0;
  border-radius: 0 10px 10px 0;
  height: 50%;
  width: 80%;
  list-style: none;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

li {
  font-size: 2.4rem;
  font-family: "Montserrat", sans-serif;
}

/* #region Nav */

nav {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  background: rgba(17, 17, 17, 0.938);
  box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.705);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: blur(0px);
}

.nav-opened {
  top: 0;
  left: 0;
  transition: all 0.75s ease-in-out;
}
.nav-closed {
  top: 0px;
  left: -615px;
  transition: all 0.75s ease-in-out;
}

.ham-button-container {
  width: 35px;
  height: 25px;
  position: fixed;
  left: 25px;
  top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 4;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f0f0f0;
}

.top-line-x {
  transform: rotate(45deg);
  top: 11px;
}

.mid-line-x {
  left: -400px;
}

.bot-line-x {
  transform: rotate(-45deg);
  top: -11px;
}

.top-line-x,
.mid-line-x,
.bot-line-x {
  position: relative;
  transition: transform 0.8s ease-in-out;
}

.d-letter,
.c-letter {
  font-size: 8rem;
  font-weight: 600;
  position: relative;
}

.d-letter {
  transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  left: 10px;
}

.c-letter {
  right: 10px;
}

nav > section {
  display: flex;
  width: 110px;
}

/* #endregion */

.spacer-line {
  height: 0.2rem;
  width: 55%;
  background: #f0f0f0;
  border-radius: 5px;
}

.fontAweIcon {
  font-size: 3.4rem;
  margin: 3rem;
}

/* #region Home */

.home {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.home h1 {
  padding: 5.5rem 0 0 0;
}

.socials-container {
  padding: 8rem 0;
  height: 35%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* #endregion */

/* #region Scroll bar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  margin: 1rem;
  background: rgba(128, 128, 128, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.466);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(18, 87, 81, 0.452);
}
::-webkit-scrollbar-thumb:active {
  background: #55505c7c;
}
/* #endregion */
